:root {
    --body-bg-color: rgb(234, 238, 238);
    --body-color: black;
    --border-color: rgb(100, 100, 100);
    --card-bg-color: rgb(238, 238, 238);
    --card-border-color: black;
    --link-color: rgb(0, 0, 255);
}
body {
    background-color: var(--body-bg-color);
    color: var(--body-color);
}
header {
    display: flex;
    border-bottom: 8px double var(--border-color);
}
header .buttons {
    display: flex;
    height: 24px;
    align-items: center;
    margin-left: auto;
    align-self: center;
}

main {
    border-bottom: 8px double var(--border-color);
}

footer {
    padding: 20px;
}
a {
    color: var(--link-color);
}

.card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    padding: 10px 10px 0px 10px;
    margin: 10px;
}

.card .username {
    display: inline;
    margin: 5px;
    font-size: small;
    border-top: 1px solid;
    padding-top: 5px;
}

.card .title {
    border-bottom: 4px double;
    font-weight: bolder;
    font-size: large;
    padding-left: 30px;
}

.card .content {
    font-size: large;
    padding: 0px 30px;
}

#btn-theme {
    font-size: 200%;
    background-color: var(--body-bg-color);
    border: none;
    margin: 5px;
}
